@include desktop{
    footer{
        .nav{
            &__logo{
                padding-top: 1%;
            }
        }
    }
    .menu{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        &__image{
            object-fit: cover;
        }
        &__header{
            & p{
                width: 80%;
            }
        }
        &__title{
            @include row;
            @include left;
            width: 10%;
            margin-left: -85%;
            & p{
                width: 60%;
            }
        }
        &__wrapper{
            @include flex;
            @include row;
            width: 100%;
            padding: 0;
            margin: 0;
            &__card{
                width: 85% !important;

                &:hover &__price{
                    transform: translateX(-210%) !important;

                }
                &__price{
                    margin-right: -5% !important;
                }
                &__button{
                    margin-right: -7% !important;
                    padding-bottom: 9% !important;
                    padding-left: 0%;
                    width: 25% !important;
                    & i{
                        margin-left: 28% !important;
                    }
                }
            }
        }
        .column{
            @include flex;
            @include row;
        }
    }
    .left{
        @include flex;
        @include left;
        @include column;
        width: 33% !important;
    }
    .middle{
        @include flex;
        @include left;
        @include column;
        width: 33% !important;
    }
    .right{
        @include flex;
        @include left;
        @include column;
        width: 33% !important;
    }
    .order-button{
        width: 35%;
        margin-bottom: 5% !important;
        margin-top: 5% !important;
        margin-left: 35% !important;
    }
    .location{
        width: 100%;
    }
    .book-menu{
        position:absolute;
        top: 160px;
        width: 40%;
    }
    .how-it-works{
        @include center;
        width: 50%;
        margin-right: 5%;
        margin-top: 0%;
    }
    .restaurant{
        @include row;
        padding: 3% 5% !important;
        &__title{
            width: 100%;
            padding-bottom: 0% !important;
        }
    }
        .card{
            width: 23% !important;
            margin-right: 2%;
            height: 230px !important;

        }
    
}
@include tablet{
    footer{
        & ul{
            margin-top: 7%;
        }

    }
    .nav{
        &__logo{
            margin-bottom: -10%;
            height: 75px !important;
        }
    }
    .menu{
        &__image{
            height: 400px;
            object-fit: cover;
        }
        &__header{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__title{
            width: 100%;
            justify-content: left;
            & p{
                padding: 0 !important;
            }
        }
        &__wrapper{
            @include flex;
            @include row;
            margin-right: -20%;
            width: 100%;
            &__card{
                @include flex;
                @include row;
                width: 18% !important;
                padding: 20px 50px !important;
                &__text{
                    display: flex;
                    margin-right: -15%;
                    margin-left: -15%;
                    width: 90%;
                    padding: 0;
                    }
                &__price{
                    padding-left: 25%;
                    font-size: medium;
                    }
                &:hover &__price{
                    transform: translateX(-40%) !important;
                    
                }
                &__button{
                    margin-right: -31% !important;
                    width: 40% !important;
                    & i{
                        margin-top: 50% !important;
                        margin-left: 35% !important;
                        margin-bottom: 20%;
                    }
                }
            }
        }
    }
    .left{
        @include flex;
        @include row;
        @include left;
        width: 100%;
    }
    .middle{
        @include flex;
        @include row;
        @include left;
        width: 100%;
    }
    .right{
        @include flex;
        @include row;
        @include left;
        width: 100%;
    }
    .order-button{
        margin-bottom: 10% !important;
        margin-top: 10% !important;
    }
    .location{
        margin-top: -1px;
        width: 100%;
    }
    .book-menu{
        position:absolute;
        top: 160px;
        width: 40%;
    }
    .how-it-works{
        @include flex;
        @include right;
        width: 50%;
        margin-right: 5%;
        margin-top: 0%;
    }
    .restaurant{
        @include row;
        padding: 1%;
        &__title{
            width: 100%;
            margin-bottom: -5%;
        }
        .card{
            width: 48%;
            margin-right: 2%;
            margin-bottom: 2%;
            &__text{
                margin-left: 2%;
            }
        }
    }
}